.logo {
  cursor: pointer;
  font-family: 'Barlow';
  font-weight: 500;
  font-size: 3rem;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  background: var(--gradient5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.header {
  font-size: 1.4rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2.4rem 6.4rem 0 6.4rem;
  gap: 30rem;
  height: 6.5rem;
  line-height: 2.4rem;
}
.navContainer {
  display: flex;
  flex-flow: row nowrap;
  gap: 6.5rem;
  align-items: center;
}
.user {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.6rem;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.navLinks {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--gap); 
}
.navLink {
  cursor: pointer;
  text-align: center;
  padding: .8rem 1.6rem;
}
.navLink.active {
  font-weight: 700;
  color: var(--white);
  border-bottom: 2px solid var(--white);
}
